.lable-input {
  text-transform: capitalize;
  margin-bottom: 0.5rem;
}
.custom-input {
  border-width: 0;
  border-bottom-width: 1px;
  width: 100%;

  font-size: 0.9rem;
  opacity: 0.8;
}
.custom-input:focus {
  outline: none;
  opacity: 1;
  transition: all 0.3s;
}
.custom-input::placeholder {
  color: grey;
}
